h1{
    font-family:helvetica;
    text-align:center;
    font-size:60px;
}

#menu{
    font-family: helvetica;
    text-align:center;
    color:purple;
    font-size:40px;
    margin-top:300px;
}

#labels{
    display:none;
}

.button{
    display:inline-block;
}

.button:hover{
    color:blue;
    cursor:pointer;
}

.cell {
    display:inline-block;
}

.cellRow {
    display:none;
}

.infoBar {
    color:green;
    font-size:30px;
    display:none;
}

.infoBar:hover {
    color:green;
    cursor:default;
}

#form {
    position:fixed;
    left:100px;
    top:10px;
}

#menuButton {
    display:none;
}

#firstLetter, #secondLetter, #thirdLetter, #fourthLetter {
    border-bottom: groove;
    display:none;
}